@import "tailwindcss"; 
@tailwind utilities;

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 1s ease-in-out;
  }

 @keyframes moveGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animated-gradient {
  background: radial-gradient(#ffad30, #ffe6b3, #ffad30);
  background-size: 600% 600%;
  animation: moveGradient 15s ease infinite;
}


}